.x5-list {
  border-style: solid;
  border-width: 2px;
  border-color: #1f3f70;
}

.x5-list-item {
  height: 50px;
  width: 100%;
  overflow: hidden;
  margin: 0.5em;

  border-style: solid;
  border-width: 2px;
  border-color: #000000;
}

.x5-list-title-bar {
  background-color: #e7ebf1;

  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 1em;

  color: #1f3f70;
  font-weight: bold;
  font-size: 1.25em;
}

.x5-recommandations-list {
  float: left;

  width: 35%;

  margin: 10px;
}

.x5-custom-list {
  float: left;

  width: 35%;

  margin: 10px;
}

.x5-lists-list {
  float: left;

  width: 20%;
  /* height: 250px; */

  margin: 10px;
}

.x5-item-thumbnail {
  height: 50px;
  width: 70px;

  float: left;

  border-style: solid;
  border-width: 1px;
  border-color: #000000;
}

.x5-item-action {
  height: 50px;

  float: right;
}

.x5-item-inner {
  padding: 5px;

  height: 50px;
  width: 200px;

  float: left;

  overflow: hidden;
}

.x5_dozent_view_container {
  display: grid;
  grid-gap: 10px;
}

.x5_recommendations_container {
  width: 45%;
  margin: 0.5em;

  border-style: solid;
  border-color: #1f3f70;
  border-width: 1px;
}

.x5_custom_list_container {
  width: 45%;
  margin: 0.5em;

  border-style: solid;
  border-color: #1f3f70;
  border-width: 1px;
}

.x5_search_area {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.x5_material_list {
  width: 100%;
}

.x5_list_managing_area {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  background-color: #e7ebf1;
}

.x5_custom_list {
  width: 100%;
}

.x5_headline {
  padding: 0.5em;

  font-weight: bold;
  font-size: 1.5em;

  color: #1f3f70;
  text-align: center;
  background-color: #e7ebf1;
}

.x5_searchbar {
  padding: 0.5em;
  background-color: #e7ebf1;
}

.x5_searchbar input {
  width: 90%;
  height: 2em;
}

.x5_button_line {
  display: flex;
  width: 100%;
}

.x5_button_container {
  text-align: center;

  width: 100%;

  padding-left: 0.5em;
  padding-right: 0.5em;
  background-color: #e7ebf1;
}

.x5_button_container .button {
  width: 100%;
}

.x5_current_list {
  font-size: 1.5em;
  color: #1f3f70;
  background-color: #e7ebf1;
  width: 100%;
}

.wrapper {
  display: grid;
  grid-gap: 10px;
  /* grid-template-columns: 100px 100px 100px; */
  background-color: #fff;
  color: #444;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

/* .a {
  grid-column: 1 / 3;
  grid-row: 1;
}
.b {
  grid-column: 3;
  grid-row: 1 / 3;
} */
.c {
  grid-column: 1;
  grid-row: 1;
}
.d {
  grid-column: 2;
  grid-row: 1;
}
